layout python3
. /home/corsi/work/bits-e-proc-labs/env/bin/activate
export AUTH_HOSTNAME="https://devlife.insper-comp.com.br"
export AUTH_TOKEN="26014f728298502d8ea0efa540eb50fd61ae570c"
export PATH=$PATH:/home/corsi/intelFPGA_lite/21.1/quartus/bin/
